/*Inizio Common*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.float-content::after{
    display: table;
    content: "";
    clear: both;
}

.button{
    padding: 8px 20px;
    background-color: rgb(0, 97, 255);
}
/*Fine Common*/

/*Inizio header*/
header .row{
    background-color: white;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    text-align: center;
    line-height: 80px;
}

header .row .nav{
    width: 40%;
    height: 100%;
}

header .row .nav-sx{
    float: left;
}

header .row .nav-dx{
    float: right;
}

header .row .nav ul{
    list-style: none;
    margin-left: 15px;
}

header .row .nav ul li{
    display: inline-block;
    margin-right: 30px;
    height: 80px;
}

header .row .nav ul li a{
    text-decoration: none;
    color: black;
}

#logo{
   vertical-align: middle;
   margin-bottom: 10px;
}

#text-btn{
    color: white;
}
/*Fine header*/

/*Inizio Jumbotron*/
.jumbotron{
    margin-top: 80px ;
    width: 100%;
    height: 800px;
    background-color: rgb(180, 208, 231);
}

.jumbotron .content{
    width: 85%;
    height: 500px;
    margin: auto;
}

.jumbotron .content .title{
    padding-top: 100px;
    font-size: 80px;
    width: 100%;
    height: 300px;
    
}

.jumbotron .content .left-box{
    padding-top: 50px;
    width: 35%;
    float: left;
}

.jumbotron .content .right-box{
    padding-top: 50px;
    width: 60%;
    float: right;
    
}

#par-jumbo{
    padding-right: 150px;
    padding-bottom: 40px;
}

.jumbotron .content a{
    margin-bottom: 15px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

#prova-gratuita{
    color: white;
}
.down-arrow{
    margin-top: 50px;
    font-size: 60px;
    color: black;
}

#jumbo-img{
    width: 100%;
}
/*Fine Jumbotron*/

/*Inizio main*/

main{
    margin-top: 50px;
}

main .content{
    width: 75%;
    margin: auto;
}

/*Inizio piani*/
main .content .piano{
    width: 100%;
}

/*Inizio titolo piani abbonamenti*/
.piano-title .title{
    padding-top: 170px;
    font-size: 40px;
}

main .content .piano .piano-title{
    width: 100%; 
}

.fatturazione{
    margin-top: 30px;
    line-height: 20px;
}

.fatturazione span{
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.round{
    height: 20px;
    width: 20px;
    border: solid gray 1px;
    border-radius: 50%;
}

#round-blue{
    border: solid rgb(0, 97, 255) 5px;
}
/*Fine titolo piani abbonamenti*/


/*Inizio colonne piani*/
main .content .piano .box{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 30%;
    border: solid lightgray 1px;
    display: inline;
}

.left-box{
    padding-bottom: 350px;
}

.right-box, .center-box{
    padding-bottom: 300px;
}
.header-box{
    padding: 10px 0;
    width: 100%;
    border-bottom: solid lightgray 1px;
    text-align: center;
}

.header-box .far{
    margin-right: 10px;
}

.box-body{
    padding-left: 30px;
}

.box-body h3{
    font-size: 30px;
    margin: 30px 0;
}

.box-body h4{
    margin-bottom: 10px;
}

.pros{
    margin-left: 30px;
    margin-top: 30px;
}

#user{
    margin-top: 50px;
}

.prova-container{
    margin-top: 60px;
    text-align: center;
    margin-bottom: 40px;
}

#try{
    color: white;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
}

.acquista-ora{
    padding-left: 30px;
}

.linea{
    margin: 50px 0;
    margin-left: 30px;
    width: 80px;
    border-bottom: solid lightgray 1px;
}

.punti-salienti{
    padding-left: 30px;
    font-size: 18px;
}

.lista-punti-salienti{
    padding-left: 30px;
    margin-top: 30px;
    list-style: none;
}

.lista-punti-salienti li{
    line-height: 50px;
    
}

.fas.fa-check{
    color: rgb(0, 92, 242);
    margin-right: 10px;
}
main .content .piano .left{
    float: left;
}

main .content .piano .right{
    float: right;
}

.center-box{
    margin: 0 5%;
}


.partner{
    width: 75%;
    margin: auto;
    
}

.piano-img, .piano-par{
    width: 50%;
    margin-top: 100px;
    
}
/*Fine colonne piani*/

/*Inizio enterprise*/
.enterprise{
    border: solid lightgray 1px;
    width: 75%;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
}


.header-enterprise{
    position: relative;
    width: 100%;
}

.enterprise .button{
    position: absolute;
    top: 80px;
    right: 50px;
}

#ufficio-btn{
    color: white;
    text-decoration: none;
    padding: 10px 80px;
}

.enterprise h3{
    margin-left: 30px;
    padding-top: 40px;
    font-size: 30px;
    margin-bottom: 20px;
}

.enterprise #ufficio{
    margin-left: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.enterprise p{
    margin-left: 30px;
    margin-bottom: 30px;
}
/*Fine enterprise*/

/*Inizio partner*/
#partner-img{
    width: 100%;
}

.partner .piano-par{
    padding-left: 50px;
    padding-right: 0px;
    padding-top: 50px;
}

.partner .piano-par h3{
    font-size: 30px;
    margin-bottom: 30px;
}

.partner .piano-par p{
    font-size: 13px;
    line-height: 2.2;
    margin-bottom: 30px;
}

.partner .piano-par a{
    font-size: 13px;
    text-decoration: none;
    border: solid gray 1px;
    color: black;
    padding: 10px 20px;
}

.piano-par.right{
    width: 45%;
}
/*Fine partner*/
/*Fine piani*/

/*Inizio operazioni*/
main .content .operazioni{
    width: 100%;
    
}

.op-title{
    width: 75%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 30px;
}
.line{
    width: 75%;
    margin: auto;
    margin-bottom: 100px;
    
}

.box-op{
    padding-right: 50px;
    display: inline;
    width: calc(100% / 3);
}

.right{
    float: right;
}

.left{
    float: left;
}

.img-cont{
    text-align: center;
}

#tools{
    width: 100%;
}

.box-op h2{
    padding-right: 80px;
    font-size: 20px;
    margin-bottom: 30px;
}

.box-op p{
    font-size: 14px;
    line-height: 1.4;
}
/*Fine operazioni*/

/*Inizio sponsor*/
.sponsor-title{
    width: 75%;
    margin: auto;
    margin-bottom: 50px;
}

.sponsor-title h2{
    width: 50%;
    font-size: 35px;
    margin-bottom: 50px;
}

.sponsor-title a{
    color: rgb(0, 97, 255);
}

.sponsor-img{
    width: 100vw;
    
}

.sponsor-par{
    display: inline;
    height: 30vw;
    width: calc(100% - 60vw);
}

.sponsor-left, .sponsor-right{
    display: inline;
    height: 30vw;
    width: 30vw;
}

#img-1, #img-2, #img-3, #img-4, #img-5, #img-6, #img-7, #img-8{
    display: inline;
    height: 50%;
    width: 50%;
    float: left;
}

#img-1{
    background-color: rgb(197, 221, 195);
}

#img-2{
    background-color: rgb(70, 7, 31);
}

#img-3{
    background-color: rgb(1, 147, 206);
}

#img-4, #img-5{
    background-color: rgb(255, 28, 28);
}

#img-6{
    background-color: rgb(180, 207, 231);
}

#img-7{
    background-color: rgb(14, 36, 129);
}

#img-8{
    background-color: rgb(255, 216, 47);
}

.sponsor-logo{
    filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(0) brightness(100%) contrast(100%);
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-container{
    position: relative;
    width: 100%;
    height: 100%;
}
.prova{
    width: 100vw;
    height: 300px;
    background-color: blue;
}

.azienda, .azienda-btn{
    width: 50%;
    height: 300px;
    border: solid black 1px;
}



.faq{
    height: 500px;
    width: 80%;
    margin: auto;
    background-color: brown;

}
/*Fine main*/

.footer{
    width: 100vw;
    height: 500px;
    background-color: black;
}

.tabella-footer{
    height: 100%;
    width: 90%;
    margin: auto;
    border: solid white 1px;
}

.column{
    width: calc(100% / 5);
    height: 100%;
    border: solid white 1px;
}