/*Inizio Common*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.float-content::after{
    display: table;
    content: "";
    clear: both;
}

/*Fine Common*/

/*Inizio header*/
header .row{
    width: 100%;
    height: 80px;
    background-color: blue;
}

header .row .nav{
    width: 30%;
    height: 100%;
    background-color: aqua;
}

header .row .nav-sx{
    float: left;
}

header .row .nav-dx{
    float: right;
}
/*Fine header*/

/*Inizio Jumbotron*/
.jumbotron{
    width: 100%;
    height: 800px;
    background-color: red;
}

.jumbotron .content{
    width: 85%;
    height: 500px;
    margin: auto;
    background-color: seagreen;
}

.jumbotron .content .title{
    width: 100%;
    height: 300px;
    background-color: brown;
}

.jumbotron .content .left-box{
    width: 40%;
    height: 500px;
    float: left;
    background-color: chartreuse;
}

.jumbotron .content .right-box{
    width: 60%;
    height: 500px;
    float: right;
    background-color: fuchsia;
}
/*Fine Jumbotron*/

/*Inizio main*/

main .content{
    width: 75%;
    height: 1500px;
    margin: auto;
    background-color: black;
}

/*Inizio piani*/
main .content .piano{
    width: 100%;
    height: 1700px;
    background-color: cornflowerblue;
}

main .content .piano .piano-title{
    width: 100%;
    height: 250px;
    background-color: darkorange;
}

main .content .piano .box{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 30%;
    height: 800px;
    background-color:darkorchid;
    display: inline;
}

main .content .piano .left{
    float: left;
}

main .content .piano .right{
    float: right;
}

.center-box{
    margin: 0 5%;
}

.enterprise{
    height: 200px;
    background-color: deeppink;
    margin-bottom: 20px;
}

.partner{
    width: 100%;
    height: 350px;
    background-color: deeppink;
}

.piano-img, .piano-par{
    width: 50%;
    height: 350px;
    background-color: yellow;
    border: solid black 1px;
}
/*Fine piani*/

/*Inizio operazioni*/
main .content .operazioni{
    width: 100%;
    height: 850px;
    background-color: chocolate;
}

main .content .operazioni .op-title{
    width: 100%;
    height: 100px;
    background-color: crimson;
}

main .content .operazioni .line{
    height: 350px;
    width: 100%;
    
}

.box-op{
    display: inline;
    width: calc(100% / 3);
    height: 350px;
    border: solid black 1px;
}

.right{
    float: right;
}

.left{
    float: left;
}
/*Fine operazioni*/

/*Inizio sponsor*/
.sponsor-title{
    width: 70%;
    height: 200px;
    background-color: cyan;
    margin: auto;
}

.sponsor-img{
    width: 100vw;
    height: 500px;
    background-color: darksalmon;
}
/*Fine main*/