/*Inizio Common*//*
html{
    scroll-behavior: smooth;
}*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    
}

/*Inizio setting bottoni*/
.btn-blu{
    background-color: rgb(0, 97, 255);
}

.btn-gray{
    background-color: rgb(245, 245, 245);
    color: black;
}

.button:hover{
    background-color: rgba(0, 97, 255, 0.5);
}

.btn-big:hover{
    background-color: rgba(0, 97, 255, 0.5);
}

.button{
    padding: 8px 20px;
}

.btn-big{
    padding: 8px 50px;
}

#text-white, #prova-gratuita, #ufficio-btn, #try{
    color: white;
    text-decoration: none;
}
/*Fine setting bottoni*/

/*Inizio setting width frequenti*/
.width100{
    width: 100%;
}

.width90{
    width: 90%;
    margin: auto;
}

.width75{
    width: 75%;
    margin: auto;
}
/*Fine setting width frequenti*/

/*Inizio setting flottaggi */
.left-float{
    float: left;
}

.right-float{
    float: right;
}

.float-content::after{
    display: table;
    content: "";
    clear: both;
}
/*Fine setting flottaggi */

/*Inizio setting colore testo link*/
.link-color{
    color: rgb(0, 97, 255);
}
/*Fine setting colore testo link*/
/*Fine Common*/

/*Inizio header*/
header .row{
    border-bottom: solid gray 1px;
    z-index: 999;
    background-color: white;
    height: 80px;
    position: fixed;
    top: 0;
    text-align: center;
    line-height: 80px;
}

header .row .nav{
    width: 40%;
    height: 80px;
}

header .row .nav ul{
    list-style: none;
    margin-left: 15px;
}

header .row .nav ul li{
    display: inline-block;
    margin-right: 30px;
    height: 80px;
}

header .row .nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: black;
}

.nav-dx .header-btn .btn-blu{
    display: inline;
    padding: 8px 20px;
}

.nav-dx .header-btn .btn-blu:hover{
    background-color: rgba(0, 97, 255, 0.5);
}

header .row .nav ul li .border-blu:hover{
    border-bottom: solid rgb(0, 97, 255) 5px;
}

#logo{
   vertical-align: middle;
   margin-bottom: 10px;
}
/*Fine header*/

/*Inizio Jumbotron*/
.jumbotron{
    margin-top: 80px ;
    height: 800px;
    background-color: rgb(180, 208, 231);
}

.jumbotron .content{
    width: 85%;
    height: 500px;
    margin: auto;
}

.jumbotron .content .title{
    padding-top: 100px;
    font-size: 80px;
    height: 300px; 
}

.jumbotron .content .left-box{
    padding-top: 50px;
    width: 35%;
}

.jumbotron .content .right-box{
    padding-top: 50px;
    width: 60%;
}

#par-jumbo{
    padding-right: 150px;
    padding-bottom: 40px;
}

.jumbotron .content a{
    margin-bottom: 15px;
    display: inline-block;
    text-decoration: none;
}

.down-arrow{
    margin-top: 50px;
    font-size: 60px;
    color: black;
}
/*Fine Jumbotron*/

/*Inizio main*/

main{
    margin-top: 50px;
}

/*Inizio piani*/
/*Inizio titolo piani abbonamenti*/
.piano-title{
    margin-top: 200px;
}

.piano-title h2{
    font-size: 35px;
    margin-bottom: 70px;
}

.fatturazione{
    margin-top: 30px;
    line-height: 20px;
}

.fatturazione span{
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.round{
    height: 20px;
    width: 20px;
    border: solid gray 1px;
    border-radius: 50%;
}

#round-blue{
    border: solid rgb(0, 97, 255) 5px;
}
/*Fine titolo piani abbonamenti*/


/*Inizio colonne piani*/
main .content .piano .box{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 30%;
    border: solid lightgray 1px;
    display: inline;
}

.header-box{
    padding: 10px 0;
    border-bottom: solid lightgray 1px;
    text-align: center;
}

.header-box .far{
    margin-right: 10px;
}

.box-body{
    padding-left: 30px;
}

.box-body h3{
    font-size: 30px;
    margin: 30px 0;
}

.box-body h4{
    margin-bottom: 10px;
}

.pros{
    margin-left: 50px;
    margin-top: 30px;
}

#user{
    margin-top: 50px;
}

.prova-container{
    margin-top: 60px;
    text-align: center;
    margin-bottom: 40px;
}
.icon-margin{
    margin-left: -20px;
}

.acquista-ora{
    padding-left: 30px;
}

.linea{
    margin: 50px 0;
    margin-left: 30px;
    width: 80px;
    border-bottom: solid lightgray 1px;
}

.punti-salienti{
    padding-left: 30px;
    font-size: 18px;
}

.lista-punti-salienti{
    padding-left: 50px;
    margin-top: 30px;
    list-style: none;
}

.lista-punti-salienti li{  
    margin-bottom: 40px;
}

#ul-placeholder{
    
}

.fas.fa-check{
    color: rgb(0, 92, 242);
    margin-right: 10px;
}

.center-box{
    margin: 0 5%;
}

.piano-img, .piano-par{
    width: 50%;
    margin-top: 100px;
    
}
/*Fine colonne piani*/

/*Inizio enterprise*/
.enterprise{
    border: solid lightgray 1px;
    position: relative;
    margin-bottom: 20px;
}

.enterprise .btn-big{
    position: absolute;
    top: 80px;
    right: 50px;
}

#ufficio-btn{
    padding: 10px 80px;
}

.enterprise h3{
    margin-left: 30px;
    padding-top: 40px;
    font-size: 30px;
    margin-bottom: 20px;
}

.enterprise #ufficio{
    margin-left: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.enterprise p{
    margin-left: 30px;
    margin-bottom: 30px;
}
/*Fine enterprise*/

/*Inizio partner*/
.partner .piano-par{
    padding-left: 50px;
    padding-right: 0px;
    padding-top: 50px;
}

.partner .piano-par h3{
    font-size: 30px;
    margin-bottom: 30px;
}

.partner .piano-par p{
    font-size: 13px;
    line-height: 2.2;
    margin-bottom: 30px;
}

.partner .piano-par a{
    font-size: 13px;
    text-decoration: none;
    border: solid gray 1px;
    color: black;
    padding: 10px 20px;
}

.piano-par.right{
    width: 45%;
}
/*Fine partner*/
/*Fine piani*/

/*Inizio operazioni*/
.op-title{
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 30px;
}
.line{
    margin-bottom: 100px;   
}

.box-op{
    padding-right: 50px;
    display: inline;
    width: calc(100% / 3);
}

.img-cont{
    text-align: center;
}

.box-op h2{
    padding-right: 80px;
    font-size: 20px;
    margin-bottom: 30px;
}

.box-op p{
    font-size: 14px;
    line-height: 1.4;
}
/*Fine operazioni*/

/*Inizio sponsor*/
/*Inizio titolo sponsor*/
.sponsor-title{
    margin-bottom: 50px;
}

.sponsor-title h2{
    width: 50%;
    font-size: 35px;
    margin-bottom: 50px;
}
/*Fine titolo sponsor*/

/*Inizio immagini e paragrafo sponsor*/
.sponsor-img{
    width: 100vw;
}

.sponsor-par{
    z-index: -1;
    background-color: rgb(245, 245, 245) ;
    display: inline;
    position: relative;
    height: 30vw;
    width: 40vw;
}

.img-par{
    width: 20%;
    margin: 60px;
}

#linea-sponsor{
    margin-top: 0px;
    margin-left: 60px;
}
.sponsor-left, .sponsor-right{
    display: inline;
    height: 30vw;
    width: 30vw;
}

#img-1, #img-2, #img-3, #img-4, #img-5, #img-6, #img-7, #img-8{
    display: inline;
    height: 50%;
    width: 50%;
}

#img-1{
    background-color: rgb(197, 221, 195);
    border: solid rgb(208, 233, 205) 10px;
}

#img-2{
    background-color: rgb(70, 7, 31);
}

#img-3{
    background-color: rgb(1, 147, 206);
}

#img-4, #img-5{
    background-color: rgb(255, 28, 28);
}

#img-6{
    background-color: rgb(180, 207, 231);
}

#img-7{
    background-color: rgb(14, 36, 129);
}

#img-8{
    background-color: rgb(255, 216, 47);
}

.sponsor-logo{
    filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(0) brightness(100%) contrast(100%);
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sponsor-par p, .sponsor-par span{
    padding:0 60px;
    line-height: 1.4;
}

.sponsor-par span{
    display: inline-block;
    margin-top: 50px;
}

.logo-container{
    position: relative;
    height: 100%;
}
.prova{
    width: 100vw;
    height: 300px;
    background-color: blue;
}
/*Fine immagini e paragrafo sponsor*/

/*Inizio footer sponsor*/
.azienda, .azienda-btn{
    position: relative;
    width: 50%;
    height: 300px;
    background-color: rgb(180, 208, 231);
}

.azienda h2{
    color: rgb(96, 0, 30);
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#azienda-btn{
    display: inline-block;
    position: absolute;
    color: black;
    top: 45%;
    left:40%;
    text-decoration: none;
    transform: translate(-50%, -50%);
    padding: 10px 50px;

}
/*Fine footer sponsor*/
/*Fine sezione sponsor*/

/*Inizio faq*/
.faq{
    height: 500px;
    width: 80%;
    margin: auto;
}

.faq h2{
    margin-top: 100px;
    font-size: 30px;
    padding-bottom: 50px;
    border-bottom: solid 1px lightgray;
}

.faq .question{
    margin-top: 30px;
    border-bottom: solid 1px lightgray;
    padding-bottom: 30px;
}

.faq .question h4{
    display: inline-block;
}

.faq .question .arrow-down{
    width: 55%;
    text-align: right;
    display: inline-block;
}

/*Fine faq*/
/*Fine main*/

/*Inizio footer*/
.footer{
    width: 100vw;
    background-color: black;
}

.column{
    width: calc(100% / 5);
}

.footer .tabella-footer .column h4{
    padding-left: 50px;
    margin-top: 100px;
    margin-bottom: 20px;
    color: white;
}

.footer .column ul li{
    padding-left: 50px;
    margin: 5px 0px;
    list-style: none;
}

.footer .column ul li a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.footer-bottom{
    padding-bottom: 50px;
}

#linea-footer{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    width: 100px;
    border-bottom: solid gray 1px;
}

.lingua{
    margin-left: 50px;
    color: gray;
}

.italiano{
    font-size: 12px;
    margin-left: 10px;
    color: gray;
    font-weight: 100;
}
/*Fine footer*/